<!DOCTYPE html>
<html x-ng-app='tttApp'>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.16/angular.min.js"></script>
	<script src="Tic Tac Toe final.js"></script>
	<link rel="stylesheet" href="Tic Tac Toe final.css" type="text/css">
	<script src="https://cdn.firebase.com/js/client/1.0.17/firebase.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
	<title>Trip Tac Toe</title>
</head>




<body x-ng-controller='tttController'>


<div>
  <video id="movie" autoplay=1 loop width=100% height=100% >
  <source src="/Users/daltonbuckingham/Desktop/Background Video.mp4" type="video/mp4">
</video>
</div>

<h1>Trip Tac Toe</h1>

	<div class="gameboard">
		
		<br></br>

		<div class="squares" 
		x-ng-repeat="b in board track by $index"x-ng-click="clicker($index)">
		{{ b }}
		</div>
		<button type="reset" value="reset" x-ng-click ="newGame()">Reset</button>


	</div>



</body>
</html>